.question-container {
    display: none;
}

.next-button {
    display: none;
}

#timer {
    display: none;
}

.custom-disabled {
    background-color: #908d8d;
    color: white;
    pointer-events: none;
}

.selected {
    border: 5px solid gold!important;
}

.correct-answer {
    background-color: #32d296!important;
}

.incorrect-answer {
    background-color: #d32c46!important;
}